<div class="config-list sassy-gray">
    <!--
    <div class="config-list-loader">
        <div class="content-wrapper">
            <img src="/ipiadmin/resources/images/loader_animate.gif" />
        </div>
    </div>
    -->
    <br>

    <h1>Configured Applications</h1>

    <p></p>

    <div class="configListButtons">
        <button id="newConfigBtn">Create Product Config</button>
    </div>

    <div class="clear"></div>

    <table id="config-list-table" cellpadding="0" cellspacing="0" border="0" class="display">
    </table>
</div>
