<div id="wizard" class="swMain">
    <ul>
        <li><a href="#step-prod">
            <label class="stepNumber">prod</label>
                      <span class="stepDesc">
                         Step 1<br />
                         <small>Configure Product</small>
                      </span>
        </a></li>
        <li><a href="#step-login">
            <label class="stepNumber">login</label>
                      <span class="stepDesc">
                         Step 2<br />
                         <small>Configure Login</small>
                      </span>
        </a></li>
        <li><a href="#step-registration">
            <label class="stepNumber">registration</label>
                      <span class="stepDesc">
                         Step 3<br />
                         <small>Configure Registration</small>
                      </span>
        </a></li>
        <li><a href="#step-saveconf">
            <label class="stepNumber">saveconf</label>
                      <span class="stepDesc">
                         Final<br />
                         <small>Confirmation</small>
                      </span>
        </a></li>
    </ul>
    <div id="step-prod" class="ui-helper-clearfix">
        <h2 class="StepTitle">Product</h2>
        <!-- step content -->
    </div>
    <div id="step-login" class="ui-helper-clearfix">
        <h2 class="StepTitle">Login</h2>
        <!-- step content -->
    </div>
    <div id="step-registration" class="ui-helper-clearfix">
        <h2 class="StepTitle">Registration</h2>
        <!-- step content -->
    </div>
    <div id="step-saveconf" class="ui-helper-clearfix">
        <h2 class="StepTitle">Finish</h2>
        <!-- step content -->
    </div>
</div>


