<p>
    <!-- Copy and paste the following into an email and send to <a href="mailto:andrew.chen@neustar.biz">Andrew Chen</a>. -->
</p>


<div id="save-config-content" class="ui-helper-cleafix">
    <!--<h3>Confirmation</h3>-->

    <p class="confirmation">Congratulations! You're almost finished here.</p>

    <h5>Here is your new login url:</h5>

    <p id="login-app-url"></p>

    <h5>Here is your new registration url:</h5>

    <p id="reg-app-url"></p>

    <h5>Here is your new password reset url:</h5>

    <p id="pr-app-url"></p>

    <br/>
    <br/>
    <br/>

    <p class="confirmation">Click 'Save & Finish' button to complete your configuration.</p>

    <!--<h3>Product Configuration: </h3>
    <div>
        <textarea name="product-json" class="productJson" rows=20 cols=200 readonly><%//-data.productJson %></textarea>
    </div>-->

    <!-- h4>Service Configuration: <%-data.serviceText.environment %></h4 -->
    <!--<h3>Service Configuration:</h3>
    <div>
        <textarea name="service-text" class="serviceText" rows=8 cols=200 readonly><%//-data.serviceText.configuration %></textarea>
    </div>-->

	<div class="clearfix"></div>

</div>