
<div id="reg-content-titles" class="grid_24 reg-content-titles">
    <% if(pageTitle) { %>
        <h2 class="reg-page-title"><%=pageTitle %></h2>
    <% } %>

    <% if(pageSubTitle) { %>
        <p class="reg-page-subtitle"><%=pageSubTitle %></p>
    <% } %>
</div>

<div class="clear"></div>

<div id="reg-content-body" class="reg-content-body">

    <div id="reg-form-container" class="grid_8 sassy-green reg-form-content">		
		<ul id="errMsgUL" class="error">
		</ul>
        <div id="tab-widget-container" class="ui-helper-clearfix">

            <form id="reg-form"></form>

        </div>
    </div>

</div>