<div class="wrapper ui-corner-all ui-widget-content">
    <div class="reserved-template-container">

    </div>
    <div class="custom-template-container">

    </div>

    <ul id="button-nav" class="horizontal button-group">
        <li class="">
            <button id="submit-reg-button" type="button" class="button-call2action"><%=submitLabel %></button>
        </li>
        <li><a id="existing-member-reglink" href="" class="level2"><%- $.i18n.prop("quova.platform.registration.existing_member") %></a></li>
    </ul>
</div>