<div class="container">

<div class="col-sm-3">

  <div class="row">
    <h2>Documentation</h2>
  </div>

  <ul>
    <li>Hello</li>
    <li>Hello</li>
    <li>Hello</li>
    <li>Hello</li>
    <li>Hello</li>
  </ul>


</div>  

<div class="col-sm-3">

  <h3>Blah 1</h3>

  <ul>
    <li>A</li>
    <li>B</li>
    <li>C</li>
  </ul>

  <h3>Blah </h3>

  <ul>
    <li>A</li>
    <li>B</li>
    <li>C</li>
  </ul>

  </div> 

  <div class="col-sm-3">

    <h3>Blah 1</h3>

    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>

    <h3>Blah </h3>

    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>

  </div> 

  <div class="col-sm-3">

    <h3>Blah 1</h3>

    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>

    <h3>Blah </h3>

    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>

  </div> 

</div>