.gradle
.classpath
.eclipse
.project
.settings
*.iml
*.ipr
*.iws
*.pmd
*/build-eclipse
accessmanagement/build/*
accessmanagement/src/dist
accessmanagement/src/main/resources/gradle_template.file
accessmanagement-api/build/
accessmanagement-client/build/
accessmanagement-service/build/
accessmanagement-api/*.pmd
accessmanagement-client/*.pmd
accessmanagement-service/*.pmd
accessmanagement-service/logs/
accessmanagement-service/src/dist/
accessmanagement-bakery/*.pmd
accessmanagement-bakery/logs/
accessmanagement-bakery/src/dist/
build/